.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  height: 100vh;
}

/* HEADER */
.sidebar-header {
  padding: 16px;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

/* MENU */
.menu {
  padding: 8px;
}

.menu-item {
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
}

.menu-item:hover {
  background: #1f2937;
  color: white;
}

.menu-item.active {
  background: #2563eb;
  color: white;
}

/* SUB MENU */
.submenu {
  padding-left: 12px;
  margin-top: 4px;
}

.submenu-item {
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  color: #cbd5f5;
}

.submenu-item:hover {
  background: #1f2937;
}

.submenu-item.active {
  background: #374151;
  color: white;
}
